<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IBM1410Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IBM1410Console.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SwitchesLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SwitchesSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ConsoleLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ConsoleSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CoreSize" serializeAs="String">
                <value>40000</value>
            </setting>
        </IBM1410Console.Properties.Settings>
    </userSettings>
</configuration>